@font-face {
    font-family: 'moderatbold';
    src: url('./fonts/webfontkit/moderat-bold-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit/moderat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'moderatregular';
    src: url('./fonts/webfontkit/moderat-regular-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit/moderat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


a {
  color: #2A2A2B;
}

a:hover {
  color: #2A2A2B;
}

h1 {
  font-size: 5rem;
}

body {
  font-family: 'moderatregular';
}

nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  padding: 10px 50px 10px 50px;
}

nav .logo {

}




header .nav{
  font-size: 26px;
  padding-left: 28px;
}

header a {
  font-size: 26px;
  color: #2A2A2B;
}


.row {
  width: 100%;
  margin:0;
}

.segundo {
  background-color: yellow;
}

.container-fluid {
  padding: 0;
}

.margenblanco {
  background-color: #fff;
}

.proyectohome {

}

ul {
  list-style: none;
}

li.nav-item{
  font-size: 24px;
}


#about2 {
  background-color: #1A1A1A;
  color: #ffffff;
}

#intro {
  padding-top: 200px;
  padding-bottom: 100px;
}

#workinglinks {
  font-size: 20px;
  line-height: 28px;
  padding-left:0;

}


#contenidor {
  position: relative;
  height: 1200px;
  width: 100%;
  margin-top: 50px;
  margin-left: 100px;
}

li.opcion1, li.opcion2, li.opcion3, li.opcion4 {
  z-index: 1;
}

.opcion1 a{
  position: absolute;
  z-index: 10;
  top: 100px;
}

.opcion2 a{
  position: absolute;
  z-index: 11;
  top: 250px;
}

.opcion3 a{
  position: absolute;
  z-index: 12;
  top: 400px;
}

.opcion4 a{
  position: absolute;
  z-index: 13;
  top: 550px;
}

span.foto1, span.foto2, span.foto3, span.foto4 {
  position: absolute;
  z-index: 0;
}

span.foto1 {
  display: none;
  top: 50px;
  left: 250px;
}

span.foto2 {
  display: none;
  top: 100px;
  left: 300px;
}

span.foto3 {
  display: none;
  top: 250px;
  left: 400px;
}

span.foto4 {
  display: none;
  top: 400px;
  left: 350px;
}

li:hover {
  z-index: 0;
}

li:hover a{
  z-index: 0;
}

li:hover span {
  display: block;
  z-index: 0;
}


.workingacross {
  padding: 0;
  padding-bottom: 100px;
}


ul {
  padding-left: 0;
}

.titulo {
  padding-bottom: 20px;
  text-decoration: underline;
  color: #99999F;
}



h3 {
  font-size: 1.875rem;
  line-height: 2.375rem;
}

@media (max-width: 576px) {
  h3 {
    font-size: 1.625rem;
  }}
